<div class="sl-apply-attributes">
  <h1 class="sl-h">{{ 'page.apply.attributes.label' | translate }}</h1>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.places' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input type="text" class="form-control" placeholder="{{ 'page.apply.attributes.places' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.transport' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <select class="form-control" [ngModel]="applyService.transport" (ngModelChange)="applyService.onTransportChanged($event)">
        <option [ngValue]="transport" *ngFor="let transport of applyService.transports">{{ transport.getTranslateKey() | translate }}</option>
      </select>
    </div>
  </div>
   <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.cargo.name' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input type="text" class="form-control" placeholder="{{ 'page.apply.attributes.cargo.name' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.cargo.width' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input type="text" class="form-control" placeholder="{{ 'page.apply.attributes.cargo.width' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.cargo.height' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input type="text" class="form-control" placeholder="{{ 'page.apply.attributes.cargo.height' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.cargo.length' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input type="text" class="form-control" placeholder="{{ 'page.apply.attributes.cargo.length' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.attributes.cargo.weight' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input type="text" class="form-control" placeholder="{{ 'page.apply.attributes.cargo.weight' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-8 col-lg-6 offset-md-4 offset-lg-3 no-margin">
      <button class="btn sl-btn-primary btn-block" (click)="next()">{{ 'button.next' | translate }}</button>
    </div>
  </div>
</div>