<div class="sl-profile-settings">
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.settings.firstName' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="user.firstName" class="form-control" placeholder="{{ 'page.profile.settings.firstName' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.settings.secondName' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="user.secondName" class="form-control" placeholder="{{ 'page.profile.settings.secondName' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.info.email' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="{{ 'page.profile.info.email' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.info.phone' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="tel" [(ngModel)]="user.phone" class="form-control" placeholder="{{ 'page.profile.info.phone' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.info.country' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="user.country" class="form-control" placeholder="{{ 'page.profile.info.country' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.info.city' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="user.city" class="form-control" placeholder="{{ 'page.profile.info.city' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.info.language' | translate }}</span>
    </div>
    <div class="col-md-6">
      <input type="text" [(ngModel)]="user.language" class="form-control" placeholder="{{ 'page.profile.info.language' | translate }}">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>{{ 'page.profile.info.additional' | translate }}</span>
    </div>
    <div class="col-md-6">
      <textarea type="text" [(ngModel)]="user.additionalInfo" rows="3" class="form-control" placeholder="{{ 'page.profile.info.additional' | translate }}"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-3">
      <button class="btn sl-btn-primary btn-block" (click)="save()">{{ 'button.save' | translate }}</button>
    </div>
  </div>
</div>