<sl-busy></sl-busy>
<div class="sl-requests">
  <div class="masthead">
    <div class="container">
      <sl-header [title]="'page.requests.title' | translate" [description]="'page.requests.description' | translate">
      </sl-header>
    </div>
  </div>
  <div class="container content no-bottom">
    <div class="row">
      <div class="col-lg-4 col-xl-3">
        <div class="row sl-row">
          <div class="col-xs-12 no-margin">
            <button (click)="gotoApply()" class="btn sl-btn-green btn-block">{{ 'button.apply' | translate }}</button>
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.kind' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <select class="form-control" [ngModel]="kind" (ngModelChange)="onKindChanged($event)">
              <option [ngValue]="null"></option>
              <option [ngValue]="kind" *ngFor="let kind of kinds">{{ kind.getTranslateKey() | translate }}</option>
            </select>
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12">
            <span class="sl-label">{{ 'page.requests.find.service' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <select class="form-control" [ngModel]="service" (ngModelChange)="onServiceChanged($event)">
              <option [ngValue]="null"></option>
              <option [ngValue]="service" *ngFor="let service of services">{{ service.getTranslateKey() | translate }}</option>
            </select>
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.departure' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <input type="text" class="form-control" [(ngModel)]="departure" placeholder="{{ 'page.requests.find.departure' | translate }}">
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.destination' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <input type="text" class="form-control" [(ngModel)]="destination" placeholder="{{ 'page.requests.find.destination' | translate }}">
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.departure-date' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <input class="form-control" [(ngModel)]="departureDate" [maxDate]="destinationDate" ngbDatepicker #depDatePicker="ngbDatepicker"
              (click)="depDatePicker.toggle()" placeholder="{{ 'palceholder.date' | translate }}">
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.destination-date' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <input class="form-control" [(ngModel)]="destinationDate" [minDate]="departureDate" ngbDatepicker #destDatePicker="ngbDatepicker"
              (click)="destDatePicker.toggle()" placeholder="{{ 'palceholder.date' | translate }}">
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.places' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-secondary" (click)="placeDown()" type="button"><i class="fa fa-caret-left" aria-hidden="true"></i></button>
              </span>
              <input type="number" class="form-control sl-number-input" [(ngModel)]="places" readonly="true" placeholder="{{ 'page.requests.find.places' | translate }}">
              <span class="input-group-btn">
                <button class="btn btn-secondary" (click)="placeUp()" type="button"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
              </span>
            </div>
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-top">
            <span class="sl-label">{{ 'page.requests.find.transport' | translate }}</span>
          </div>
          <div class="col-xs-12 no-margin">
            <select class="form-control" [ngModel]="transport" (ngModelChange)="onTransportChanged($event)">
              <option [ngValue]="null"></option>
              <option [ngValue]="transport" *ngFor="let transport of transports">{{ transport.getTranslateKey() | translate }}</option>
            </select>
          </div>
        </div>
        <div class="row sl-row">
          <div class="col-xs-12 no-margin">
            <button (click)="search()" class="btn sl-btn-primary btn-block">{{ 'button.search' | translate }}</button>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-xl-9">
        <ul class="list-group sl-list">
          <li class="list-group-item" *ngFor="let item of items">
            <a class="card-link" routerLink="{{ item.id }}">
              <div class="card sl-card">
                <div class="card-block">
                  <p><strong>{{ item.getDirection() }}</strong></p>
                  <p>Дата: <strong>{{ item.getDepartureDate() | date: 'yyyy-MM-dd' }} - {{ item.getDestinationDate() | date: 'yyyy-MM-dd' }}</strong></p>
                  <p>Пользователь: <strong>{{ item.userName }}</strong>; {{ 'dict.request-kind.label' | translate }}: <strong>{{ 'dict.request-kind.' + item.kind | translate }}</strong>;
                    {{ 'dict.request-service.label' | translate }}: <strong>{{ 'dict.request-service.' + item.service | translate }}</strong>;
                    {{ 'dict.transport.label' | translate }}: <strong>{{ 'dict.transport.' + item.transport | translate }}</strong>;
                    Мест: <strong>{{ item.seatsNumber }}</strong></p>
                  <p style="margin-top: 10px;"><em>{{ item.comment }}</em></p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" style="text-align: center;">
        <ngb-pagination [pageSize]="limit" [collectionSize]="count" [maxSize]="10" [(page)]="page" (pageChange)="pageChange()" [directionLinks]="false"></ngb-pagination>
      </div>
    </div>
  </div>
</div>