<div class="sl-search {{ getContrastCssClass() }}">
    
    <div class="row">
        <div class="col-md-12">
            <h3>Search:</h3>
        </div>
    </div>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Departure">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Date">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Destination">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="Date">
        </div>
        <button type="submit" class="btn sl-btn-contrast btn-block">Search</button>
    </form>
</div>
