<div class="masthead">
  <div class="container">
    <sl-header [title]="'page.login.title' | translate" [description]="'page.login.description' | translate">
    </sl-header>
  </div>
</div>
<div class="sl-login">
  <div class="container content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <form>
          <div class="form-group">
            <label for="login">{{ 'page.login.login' | translate }}</label>
            <input type="text" [(ngModel)]="model.username" name="username" id="login" class="form-control" placeholder="{{ 'page.login.login' | translate }}">
          </div>
          <div class="form-group">
            <label for="password">{{ 'page.login.password' | translate }}</label>
            <input type="password" [(ngModel)]="model.password" name="password" id="password" class="form-control" placeholder="{{ 'page.login.password' | translate }}">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="remember" [(ngModel)]="model.remember"> {{ 'page.login.remember' | translate }}
            </label>
          </div>
          <button type="submit" [disabled]="submitted" class="btn sl-btn-primary btn-block" (click)="onSubmit()">{{ 'button.login' | translate }}</button>
        </form>
        <div class="signup-cotainer">
          <button class="btn sl-btn-green btn-block" (click)="gotoSignup()">{{ 'button.signup' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>