<div class="sl-apply-type">
  <h1 class="sl-h">{{ 'page.apply.type.label' | translate }}</h1>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.type.kind' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <select class="form-control" [ngModel]="applyService.kind" (ngModelChange)="applyService.onKindChanged($event)">
        <option [ngValue]="kind" *ngFor="let kind of applyService.kinds">{{ kind.value }}</option>
      </select>
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.apply.type.service' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <select class="form-control" [ngModel]="applyService.service" (ngModelChange)="applyService.onServiceChanged($event)">
        <option [ngValue]="service" *ngFor="let service of applyService.services">{{ service.value }}</option>
      </select>
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-8 col-lg-6 offset-md-4 offset-lg-3 no-margin">
      <button class="btn sl-btn-primary btn-block" (click)="next()">{{ 'button.next' | translate }}</button>
    </div>
  </div>
</div>