@import 'app.variable.scss';
@import 'app.mixins.scss';
html {
  font-family: "FontAwesome", sans-serif !important;
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $body-shift;
  font-family: "FontAwesome", sans-serif !important;
}

.masthead {
  background-color: $masthead-bg-color;
  padding-top: $masthead-padding;
  padding-bottom: $masthead-padding;
}

@media (min-width: $screen-sm-min) {
  .masthead {
    padding-top: $masthead-padding;
    padding-bottom: $masthead-padding;
    &.sl-main {
      padding-top: $masthead-padding-sm;
      padding-bottom: $masthead-padding-sm;
    }
  }
}

.sl-label {
  color: $text-color;
  &.sl-error {
    color: $error-color;
  }
}

.form-control {
  border: 1px solid $input-border-color;
  outline: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  &:focus {
    border-color: $input-active-border-color;
    outline: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &.sl-error {
    border: 1px solid $error-color;
    color: $error-color;
    &:focus {
      border-color: $error-color;
      color: $error-color;
    }
  }
}

//---------------------------------------------
//-----------------BUTTON----------------------
//---------------------------------------------
.btn {
  &:hover,
  &:focus,
  &:active,
  &.hover,
  &.focus,
  &.active {
    outline: 0;
    outline-offset: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    &:focus,
    &.focus {
      outline: 0;
      outline-offset: 0;
      -webkit-box-shadow: 0 0 10px $focus-shadow-color;
      -moz-box-shadow: 0 0 10px $focus-shadow-color;
      -ms-box-shadow: 0 0 10px $focus-shadow-color;
      -o-box-shadow: 0 0 10px $focus-shadow-color;
      box-shadow: 0 0 10px $focus-shadow-color;
    }
  }
}

@include sl-button('primary', $primary-color, $on-primary-color, $primary-deep-color);
@include sl-button('green', $green-color, $on-green-color, $green-deep-color);
@include sl-button('error', $error-color, $on-error-color, $error-deep-color);
//---------------------------------------------
//---------------BUTTON-END--------------------
//---------------------------------------------
//---------------------------------------------
//-----------------TAG-CARD-------------------
//---------------------------------------------
a.sl-tag {
  text-decoration: none;
}

.sl-tag-card {
  border-radius: 0px;
  cursor: pointer;
  margin-bottom: $main-padding;
  background-color: $nav-bg-color;
  .card-block {
    padding: $main-padding $main-padding 0px $main-padding;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    color: $card-text-color;
  }
  .card-footer {
    padding: 0px 5px $main-padding 5px;
    text-align: center;
    border: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    color: $card-text-color;
    background-color: $nav-bg-color;
  }
  &:hover {
    color: $card-hover-color;
    .card-block {
      color: $card-hover-color;
    }
    .card-footer {
      color: $card-hover-color;
    }
  }
}

//---------------------------------------------
//---------------TAG-CARD-END-----------------
//---------------------------------------------
//---------------------------------------------
//---------------SL-SIDE-NAV-------------------
//---------------------------------------------
.sl-side-nav {
  &.nav.nav-pills.nav-stacked>li>a {
    color: $nav-text-color;
    padding: 5px 30px 5px 0px;
    border: none;
    border-radius: 0;
    border-right: none;
    text-align: center;
    cursor: pointer;
    &:hover {
      background: none;
      color: $nav-link-hover-color;
    }
    &:focus {
      background: none;
      color: $nav-link-hover-color;
    }
    &.active {
      border-right: none;
      color: $nav-link-hover-color;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .sl-side-nav {
    &.nav.nav-pills.nav-stacked>li>a {
      border-right: 2px solid $nav-bg-color;
      text-align: right;
      &.active {
        border-right: 2px solid $nav-link-hover-color;
      }
    }
  }
}

//---------------------------------------------
//--------------SL-SIDE-NAV-END----------------
//---------------------------------------------
//---------------------------------------------
//------------------SL-ROW---------------------
//---------------------------------------------
.row.sl-row {
  margin-bottom: $main-padding;
  div:first-child:not(.row):not(.no-margin) {
    margin-bottom: 7px;
    margin-top: 7px;
  }
  &.no-bottom {
    margin-bottom: 0px;
  }
}

//---------------------------------------------
//------------------SL-ROW-END-----------------
//---------------------------------------------
//---------------------------------------------
//------------------SL-h-----------------------
//---------------------------------------------
h1.sl-h {
  font-size: 40px;
  font-weight: 200;
  margin-top: 0;
  margin-bottom: $main-padding;
}

//---------------------------------------------
//------------------SL-H-END-------------------
//---------------------------------------------
.content.container {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
  &.no-bottom {
    padding-bottom: 0;
  }
}

@import 'shared/nav/nav.component.scss';
@import 'shared/header/header.component.scss';
@import 'shared/footer/footer.component.scss';
@import 'home/home.component.scss';
@import 'login/login.component.scss';
@import 'join/join.component.scss';
@import 'requests/requests.component.scss';
@import 'users/users.component.scss';
@import 'apply/apply.component.scss';
@import 'profile/profile.component.scss';