@mixin sl-button($key, $main-color, $on-color, $active-color) {
  .sl-btn-#{$key} {
    background-color: $main-color;
    color: $on-color;
    border: 1px solid $main-color;
    &:hover,
    &:active,
    &:focus,
    &.focus {
      color: $on-color;
    }
    &:focus,
    &.focus {
      background-color: $main-color;
      border-color: $main-color;
    }
    &:hover,
    &:active {
      background-color: $active-color;
      border-color: $active-color;
      &:focus,
      &.focus {
        background-color: $active-color;
        border-color: $active-color;
      }
    }
    &.sl-on-#{$key} {
      border-color: $on-color;
      &:focus,
      &.focus {
        border-color: $on-color;
      }
      &:hover,
      &:active {
        border-color: $on-color;
        &:focus,
        &.focus {
          border-color: $on-color;
        }
      }
    }
  }
}