<div class="masthead">
  <div class="container">
    <sl-header [title]="'page.join.title' | translate" [description]="'page.join.description' | translate">
    </sl-header>
  </div>
</div>
<div class="sl-join">
  <div class="container content">
    <div class="row hidden-lg-up no-bottom">
      <div class="col-xs-12 sl-label">{{ 'page.join.info' | translate }}</div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <div class="row">
          <div class="col-md-4">
            <span class="sl-label">{{ 'page.join.email' | translate }}</span>
          </div>
          <div class="col-md-8">
            <input type="email" [(ngModel)]="user.email" class="form-control" placeholder="{{ 'page.join.email' | translate }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="sl-label">{{ 'page.join.phone' | translate }}</span>
          </div>
          <div class="col-md-8">
            <input type="text" [(ngModel)]="user.phone" class="form-control" placeholder="{{ 'page.join.phone' | translate }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="sl-label">{{ 'page.join.password' | translate }}</span>
          </div>
          <div class="col-md-8">
            <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="{{ 'page.join.password' | translate }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="sl-label">{{ 'page.join.password-repeat' | translate }}</span>
          </div>
          <div class="col-md-8">
            <input type="password" [(ngModel)]="repeatPassword" class="form-control" placeholder="{{ 'page.join.password-repeat' | translate }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="sl-label">{{ 'page.join.first-name' | translate }}</span>
          </div>
          <div class="col-md-8">
            <input type="text" [(ngModel)]="user.firstName" class="form-control" placeholder="{{ 'page.join.first-name' | translate }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="sl-label">{{ 'page.join.second-name' | translate }}</span>
          </div>
          <div class="col-md-8">
            <input type="text" [(ngModel)]="user.secondName" class="form-control" placeholder="{{ 'page.join.second-name' | translate }}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 offset-md-4">
            <button (click)="create()" class="btn sl-btn-primary btn-block">{{ 'button.signup' | translate }}</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5 hidden-md-down sl-label">{{ 'page.join.info' | translate }}</div>
    </div>
  </div>
</div>