<header class="sl-nav navbar navbar-light navbar-static-top bd-navbar">
  <div class="container">
    <nav>
      <a class="navbar-brand" routerLink="/">{{ 'appname' | translate }}</a>
      <ul class="nav navbar-nav">
        <template ngFor let-link [ngForOf]="links">
          <li class="nav-item" [ngClass]="{ 'float-md-right': !link.left, 'active': isLinkActive(link) }" *ngIf="link.visible && link.state.visible()">
            <a class="nav-link" routerLink="{{ link.path }}" routerLinkActive="active">{{ link.title | translate}}</a>
          </li>
        </template>
      </ul>
    </nav>
  </div>
</header>