<header class="sl-nav navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" routerLink="/">{{ 'TODOTRappname' }}</a>
        </div>
        <nav id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <template ngFor let-link [ngForOf]="links">
                    <li [ngClass]="{ 'active': isLinkActive(link) }" *ngIf="link.left && link.visible">
                        <a routerLink="{{ link.path }}">{{ link.title }}</a>
                    </li>
                </template>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <template ngFor let-link [ngForOf]="links">
                    <li [ngClass]="{ 'active': isLinkActive(link) }" *ngIf="!link.left && link.visible">
                        <a routerLink="{{ link.path }}">{{ link.title  }}</a>
                    </li>
                </template>
            </ul>
        </nav>
    </div>
</header>