/* HEADER */

.sl-nav {
  &.navbar-light {
    background-color: $nav-bg-color;
    .navbar-brand {
      color: $nav-link-hover-color;
      &:hover,
      &:focus {
        color: $nav-link-hover-color;
      }
    }
  }
  .navbar-nav {
    &>.nav-item>.nav-link {
      color: $nav-text-color;
      &:hover,
      &:focus {
        color: $nav-link-hover-color;
      }
    }
    &>.active>.nav-link,
    &>.active>.nav-link:hover,
    &>.active>.nav-link:focus {
      color: $nav-link-hover-color;
    }
  }
}