
/* HEADER */
.sl-nav {

    &.navbar {
        margin-bottom: 0;
    }
    
    &.navbar-default {
        background-color: $main-color;
        border: none;
        padding-bottom: $main-padding;

        .navbar-brand {
            color: $contrast-color;
            background-color: transparent;
            
            &:hover, 
            &:focus {
                color: $contrast-color;
                background-color: transparent;
            }
        }
    }

    .navbar-nav {
        & > li > a {
            color: $contrast-color;
            background-color: transparent;
            border-bottom: none;

            &:hover,
            &:focus {
                color: $contrast-color;
                background-color: $secondary-color;
                border-bottom: none;
            }
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {
            color: $contrast-color;
            background-color: $secondary-color;
            border-bottom: none;
        }
    }

    .navbar-collapse {
        border-top: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-toggle {
        border: none;
        background-color: $main-color;

        &:hover,
        &:focus,
        &.collapsed:hover {
            background-color: $secondary-color;
        }

        &.collapsed,
        &.collapsed:focus {
            background-color: $main-color;
        }

        .icon-bar {
            background-color: $contrast-color;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .sl-nav {
    
        .navbar-nav {
            & > li > a {
                color: $contrast-color;
                background-color: transparent;
                border-bottom: $header-underline-size solid transparent;

                &:hover,
                &:focus {
                    color: $contrast-color;
                    background-color: transparent;
                    border-bottom: $header-underline-size solid $contrast-color;
                }
            }

            & > .active > a,
            & > .active > a:hover,
            & > .active > a:focus {
                color: $contrast-color;
                background-color: transparent;
                border-bottom: $header-underline-size solid $contrast-color;
            }
        }
    }
}
