<div class="sl-profile-dictionaries">
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.profile.dictionaries.type' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <select class="form-control" [ngModel]="selectedType" (ngModelChange)="onTypeChange($event)">
        <option [ngValue]="type" *ngFor="let type of types">{{ type }}</option>
      </select>
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.profile.dictionaries.key' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input [(ngModel)]="model.key" type="text" class="form-control" placeholder="{{ 'page.profile.dictionaries.key' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-4 col-lg-3">
      <span class="sl-label">{{ 'page.profile.dictionaries.value' | translate }}</span>
    </div>
    <div class="col-md-8 col-lg-6">
      <input [(ngModel)]="model.value" type="text" class="form-control" placeholder="{{ 'page.profile.dictionaries.value' | translate }}">
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-md-8 col-lg-6 offset-md-4 offset-lg-3">
      <button (click)="save()" class="btn sl-btn-green btn-block">{{ 'button.add' | translate }}</button>
    </div>
  </div>
  <div class="row sl-row no-bottom">
    <div class="col-md-8 col-lg-6 offset-md-4 offset-lg-3 no-margin" *ngIf="isEmpty()">
      <span class="sl-label sl-muted">{{ 'list.emtpy' | translate }}</span>
    </div>
    <div class="col-md-12 col-lg-9 no-margin">
      <ul class="list-group sl-list">
        <li class="list-group-item">
          <div class="card sl-card" *ngFor="let dictionary of dictionaries">
            <div class="card-block">
              <i (click)="remove(dictionary)" class="fa fa-times sl-rm-icon float-xs-right" aria-hidden="true"></i>
              <p>{{ dictionary.value }} ({{ dictionary.key }})</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>