<sl-busy></sl-busy>
<div class="sl-profile-message">
  <h1 class="sl-h">{{ name }}</h1>
  <div class="row">
    <div class="col-lg-8 col-xl-9 sl-message-main">
      <span class="">{{ message.text }}</span>
    </div>
  </div>
  <div class="row" *ngIf="!isNew">
    <div class="col-lg-8 col-xl-9">
      <span class="sl-message-sub">Дата: {{ message.date | date: 'yyyy-MM-dd HH:mm' }}</span>
    </div>
  </div>
  <div class="row" *ngIf="!isNew">
    <div class="col-lg-8 col-xl-9">
      <span class="sl-message-sub">Получатель: {{ message.recipientName }}</span>
    </div>
  </div>
  <div class="row" *ngIf="!isNew">
    <div class="col-lg-8 col-xl-9">
      <span class="sl-message-sub">Отправитель: {{ message.senderName }}</span>
    </div>
  </div>
  <div class="row sl-row" >
    <div class="col-lg-8 col-xl-9">
      <textarea rows="3" [ngClass]="{ 'sl-error': invalid }" [(ngModel)]="newMessage.text" maxlength="1000" class="form-control"></textarea>
    </div>
  </div>
  <div class="row sl-row">
    <div class="col-lg-8 col-xl-9">
      <button class="btn sl-btn-primary" (click)="send()">Отправить</button>
    </div>
  </div>
</div>