<div class="masthead">
  <div class="container">
    <sl-header [title]="'page.profile.title' | translate" [description]="'page.profile.description' | translate">
    </sl-header>
  </div>
</div>
<div class="sl-profile">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <li role="presentation">
            <a routerLink="info" routerLinkActive="active">{{ 'page.profile.nav.info' | translate }}</a>
          </li>
          <li role="presentation">
            <a routerLink="requests" routerLinkActive="active">{{ 'page.profile.nav.requests' | translate }}</a>
          </li>
          <li role="presentation">
            <a routerLink="messages" routerLinkActive="active">{{ 'page.profile.nav.messages' | translate }}</a>
          </li>
          <li role="presentation">
            <a routerLink="settings" routerLinkActive="active">{{ 'page.profile.nav.settings' | translate }}</a>
          </li>
          <li role="presentation">
            <a>Выход</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>