<div class="masthead">
  <div class="container">
    <sl-header [title]="'page.profile.title' | translate" [description]="'page.profile.description' | translate">
    </sl-header>
  </div>
</div>
<div class="sl-profile">
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="apply-cotainer">
          <button class="btn sl-btn-green btn-block" (click)="gotoApply()">{{ 'button.apply' | translate }}</button>
        </div>
        <ul class="nav sl-side-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="info" routerLinkActive="active">{{ 'page.profile.nav.info' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="requests" routerLinkActive="active">{{ 'page.profile.nav.requests' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="messages" routerLinkActive="active">{{ 'page.profile.nav.messages' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="settings" routerLinkActive="active">{{ 'page.profile.nav.settings' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">{{ 'page.profile.nav.exit' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>