<div [ngClass]="'sl-contrast'" class="sl-filter">
    
    <div class="row" *ngIf="!full">
        <div class="col-md-12">
            <h3>{{ 'TODOTRfilter.label' }}</h3>
        </div>
    </div>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'TODOTRfilter.fields.departure' }}">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="{{ 'TODOTRfilter.fields.departure-date' }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'TODOTRfilter.fields.destination' }}">
        </div>
        <div class="form-group">
            <input type="date" class="form-control" placeholder="{{ 'TODOTRfilter.fields.destination-date' }}">
        </div>
        <button type="submit" class="btn sl-btn-contrast btn-block">{{ 'TODOTRfilter.search-btn' }}</button>
    </form>
</div>
