.sl-request {
  .sl-google-map {
    margin-bottom: $main-padding;
    .sl-google-map-container {
      border: 10px solid $nav-icon-color;
      .sebm-google-map-container {
        height: 400px;
      }
    }
  }

  h1 {
    font-size: 40px;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: $main-padding;
  }
}