<div class="sl-home">
    <div class="masthead sl-main">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <sl-header [title]="'TODOTRpage.home.title'" 
                        [description]="'TODOTRpage.home.description'">
                    </sl-header>
                </div>
                <div class="col-md-4">
                    <sl-filter [full]="false"></sl-filter>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        Home
    </div>
</div>
