<div class="sl-home">
  <div class="masthead sl-main">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <sl-header [title]="'page.home.title' | translate" [description]="'page.home.description' | translate">
          </sl-header>
        </div>
        <div class="col-md-4 sl-fast-search">
          <div class="row no-bottom">
            <div class="col-md-12">
              <h3 class="sl-on-primiry">{{ 'page.home.search' | translate }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="{{ 'page.home.departure' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="date" class="form-control" placeholder="{{ 'page.home.departure-date' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="{{ 'page.home.destination' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="date" class="form-control" placeholder="{{ 'page.home.destination-date' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn sl-btn-primary sl-on-primary btn-block">{{ 'button.search' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content no-bottom">
    <div class="row">
      <div class="col-sm-3 sl-tag-col">
        <a class="sl-tag" routerLink="/profile">
          <div class="panel panel-default sl-tag-panel sl-tag-panel-green">
            <div class="panel-body">
              <span class="glyphicon glyphicon-pencil" aria-hidden="false"></span>
            </div>
            <div class="panel-footer">{{ 'page.home.tag.addRequest' | translate }}</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 sl-tag-col">
        <a class="sl-tag" routerLink="/requests">
          <div class="panel panel-default sl-tag-panel sl-tag-panel-light-blue">
            <div class="panel-body">
              <span class="glyphicon glyphicon-map-marker" aria-hidden="false"></span>
            </div>
            <div class="panel-footer">{{ 'page.home.tag.findRequest' | translate }}</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 sl-tag-col">
        <a class="sl-tag" routerLink="/users">
          <div class="panel panel-default sl-tag-panel sl-tag-panel-teal">
            <div class="panel-body">
              <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
            </div>
            <div class="panel-footer">{{ 'page.home.tag.findUser' | translate }}</div>
          </div>
        </a>
      </div>
      <div class="col-sm-3 sl-tag-col">
        <a class="sl-tag" routerLink="/about">
          <div class="panel panel-default sl-tag-panel sl-tag-panel-purple">
            <div class="panel-body">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="false"></span>
            </div>
            <div class="panel-footer">{{ 'page.home.tag.about' | translate }}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>