/* HOME */

.sl-home {
  .container.content {
    padding-top: 0px;
  }
  .sl-tag-card.card {
    border: none;
    margin-bottom: 0px;
  }
  .sl-tag-col {
    padding-right: 0px;
    padding-left: 0px;
  }
  h3.sl-on-primiry {
    color: $on-primary-color;
    font-weight: 300;
  }
  .sl-fast-search {
    .row {
      margin-bottom: $main-padding;
      &.no-bottom {
        margin-bottom: 0px;
      }
    }
  }
  .sl-google-map {
    margin-bottom: $main-padding;
    .sl-google-map-container {
      border: 10px solid $nav-icon-color;
      .sebm-google-map-container {
        height: 400px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) {
  .sl-home {
    .container.content {
      padding-top: $main-padding;
    }
    .sl-tag-card.card {
      margin-bottom: $main-padding;
    }
    .sl-tag-col {
      padding-right: $main-padding;
      padding-left: $main-padding;
    }
  }
}