<div class="sl-home">
  <div class="masthead sl-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <sl-header [title]="'page.home.title' | translate" [description]="'page.home.description' | translate">
          </sl-header>
        </div>
        <div class="col-lg-4 sl-fast-search">
          <div class="row no-bottom">
            <div class="col-md-12">
              <h3 class="sl-on-primiry">{{ 'page.home.search' | translate }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control" placeholder="{{ 'page.home.departure' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <input type="date" class="form-control" placeholder="{{ 'page.home.departure-date' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <input type="text" class="form-control" placeholder="{{ 'page.home.destination' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <input type="date" class="form-control" placeholder="{{ 'page.home.destination-date' | translate }}">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button class="btn sl-btn-primary sl-on-primary btn-block">{{ 'button.search' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container content no-bottom">
    <div class="row">
      <div class="col-md-3 sl-tag-col">
        <a class="sl-tag" routerLink="/apply">
          <div class="card sl-tag-card">
            <div class="card-block">
              <i class="fa fa-plus-circle fa-lg"></i> 
            </div>
            <div class="card-footer">{{ 'page.home.tag.add-request' | translate }}</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 sl-tag-col">
        <a class="sl-tag" routerLink="/requests">
          <div class="card sl-tag-card">
            <div class="card-block">
              <i class="fa fa-globe fa-lg"></i> 
            </div>
            <div class="card-footer">{{ 'page.home.tag.find-request' | translate }}</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 sl-tag-col">
        <a class="sl-tag" routerLink="/users">
          <div class="card sl-tag-card">
            <div class="card-block">
              <i class="fa fa-users fa-lg"></i> 
            </div>
            <div class="card-footer">{{ 'page.home.tag.find-user' | translate }}</div>
          </div>
        </a>
      </div>
      <div class="col-md-3 sl-tag-col">
        <a class="sl-tag" routerLink="/about">
          <div class="card sl-tag-card">
            <div class="card-block">
              <i class="fa fa-info-circle  fa-lg"></i> 
            </div>
            <div class="card-footer">{{ 'page.home.tag.about' | translate }}</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>