<div class="sl-apply">
  <div class="masthead">
    <div class="container">
      <sl-header [title]="'page.apply.title' | translate" [description]="'page.apply.description' | translate">
      </sl-header>
    </div>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <div class="save-cotainer">
          <button class="btn sl-btn-green btn-block" (click)="gotoSave()">{{ 'button.save' | translate }}</button>
        </div>
        <ul class="nav sl-side-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="type" routerLinkActive="active">{{ 'page.apply.type.label' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="attributes" routerLinkActive="active">{{ 'page.apply.attributes.label' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="points" routerLinkActive="active">{{ 'page.apply.points.label' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="security" routerLinkActive="active">{{ 'page.apply.security.label' | translate }}</a>
          </li>
          <li  class="nav-item">
            <a class="nav-link" routerLink="extra" routerLinkActive="active">{{ 'page.apply.extra.label' | translate }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>