<footer [ngClass]="'sl-contrast'" class="footer">
  <div class="container">
    <div class="sl-links">
      <a target="_blank" href="https://github.com/andrei-radzetski/simple-logistics-client.git">{{ 'TODOTRfooter.link.git' }}</a>
      <a target="_blank" href="https://www.facebook.com/stels666">{{ 'TODOTRfooter.link.fb' }}</a>
      <a target="_blank" href="https://vk.com/andrei.radzetski">{{ 'TODOTRfooter.link.vk' }}</a>
      <a routerLink="/about">{{ 'TODOTRfooter.link.about' }}</a>
    </div>

    <div>
      {{ 'TODOTRfooter.disigned' }} 
      <a target="_blank" href="https://www.facebook.com/stels666">{{ 'TODOTRfooter.link.autor' }}</a>. 
      {{ 'TODOTRfooter.using' }} 
      <a target="_blank" href="https://angular.io">{{ 'TODOTRfooter.link.ng2' }}</a> 
      {{ 'TODOTRfooter.and' }} 
      <a target="_blank" href="http://getbootstrap.com">{{ 'TODOTRfooter.link.bootstrap' }}</a>.
    </div>

    <div class="sl-langs">
      <span>{{ 'TODOTRfooter.lang' }}</span>
      <a *ngFor="let lang of langs" (click)="setLang(lang)" [ngClass]="{ 'sl-lang-active': isLangActive(lang) }">
        {{ lang.title }}
      </a>
    </div>

  </div>
</footer>