
/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-heigth;
    background-color: $main-color;
    

    .container {
        padding-top: 20px;
        color: $contrast-color;
        
        .sl-langs {
            a {
                color: $contrast-color;
                text-decoration: none;
                cursor: pointer;

                &.sl-lang-active {
                    font-weight: 700;
                }
            }
        }
    }
}
