
/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-heigth;
    background-color: $main-color;
    color: $contrast-color;

    .container {
        padding-top: 20px;
    }
    
}
